<html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Olá, {{purchaseAuthorName}}</strong>
  <p>Voce tem uma nova solicitação de compra para anúncio {{purchaseTitle}}</p>
  <br>
  <strong>{{this.user.name}}({{this.user.email}}):</strong>
  <p>{{this.content}}</p>
</body>

</html>